<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 side-list">
  <ul>
    <li class="new-person" {{action "addNewPerson"}}>New Person</li>
    {{#each peopleList as |person|}}
      {{#if person.dateCreated}}
        <li {{action 'setPerson' person}} class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 {{if person.isSelected 'selected'}}">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="picture">
              <img src="{{person.profilePicture.data}}">
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">{{person.name}}</div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            {{#if person.isCheckedIn}}
              {{fa-icon "sign-in"}}
            {{else}}
              {{fa-icon "sign-out"}}
            {{/if}}
          </div>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 main">
  {{#if model}}
    {{#if newPerson}}
    <h4>Add a new person</h4>
      <br>
      <p>Adding a person is nice and simple. Just add their name, contact number and a profile picture. Hit save and you will now be able to check in and check out that person. You can also come back to them and edit their details or delete the person all together.</p>
      <br>
      
    {{else}}
     <h4>Editing {{model.name}}</h4>
    {{/if}}
    <br>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="person-picture">
          {{#file-picker fileLoaded="fileLoaded" readAs="readAsDataURL" preview=false}}
            {{#if model.profilePicture.data}}
              <div class="picture" style="background:url('{{model.profilePicture.data}}') no-repeat center center; background-size:cover;"></div> 
            {{else}}
              <small>Drag or click here to choose profile picture</small>
            {{/if}}
          {{/file-picker}}
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <small>Name</small><br>
        {{input type="text" value=model.name}}
        <br><br>
        <small>Contact</small><br>
        {{input type="number" value=model.contact}}
      </div>
      <hr>
    </div>
    <div class="row">
        <hr>
        <h5>Whats their status?</h5>
        <button class="btn btn-default {{if model.isCheckedIn 'btn-success'}}" {{action 'checkInStatus' true}}>Check In</button>
        <button class="btn btn-default {{if model.isCheckedOut 'btn-success'}}" {{action 'checkInStatus' false}}>Check Out</button>
        <br>
        <hr>
        <br>
        <h5>Finish</h5>
        {{#if newPerson}}
          <button class="btn btn-primary" {{action 'savePerson'}}>Add Person</button>
        {{else}}
          <button class="btn btn-danger" {{action 'removePerson' model}}>Remove</button>
          <button class="btn btn-primary" {{action 'savePerson'}}>Save Changes</button>
        {{/if}}
    </div>
    
  {{else}}
    <br><br><br>...<br><br>
    <p>You have not selected a person, click a persons name from the list on the left. You can create a new person by clicking 'New Person'</p>
  {{/if}}
</div>