<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 side-list">
  <ul>
    <li class="new-person"><a {{action "addNewPerson"}}>New Person</a></li>
    {{#each peopleList as |person|}}
      <li>{{person.name}}</li>
    {{/each}}
  </ul>
</div>

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 main">
  {{#if newPerson}}
    <h4>Add a new person</h4>
    <div class="form">
      <br>
      <p>Adding a person is nice and simple. Just add their name, contact number and a profile picture. Hit save and you will now be able to check in and check out that person. You can also come back to them and edit their details or delete the person all together.</p>
      <br>
      
      
      <small>Name</small><br>
      {{input type="text" value=model.name}}
      <br>
      <small>Contact</small><br>
      {{input type="number" value=model.contact}}
      <br>
      <button class="btn btn-primary" {{action 'savePerson'}}>Save</button>
    </div>
  {{/if}}
</div>